App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  background-color: #f0f0f0;
  padding-bottom: 50px; /* Space for the nav bar */
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  width:20%; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 20px;
}

.nav-item {
  flex: 1;
  text-align: center;
  padding: 15px 0;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

.nav-item.active {
  background-color: #9e2902;
  color: #fff;
}

.nav-item:hover {
  background-color: #e0e0e0; /* Grey hover color */
}

.feed-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.feed-input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 200px;
}

.feed-input:focus {
  border-color: #9e2902;
  outline: none;
}

.feed-button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #9e2902;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.feed-button:hover {
  background-color: #9e2902;
}