.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

}

.initial-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
  animation: fadeOut 5s forwards;
}

.initial-logo {
  width: 40%;
  height: auto;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.main-content {
  animation: fadeIn 1s forwards; /* Fade in the main content */
  opacity: 0; /* Start with invisible content */
  width: 100%; /* Ensure main content takes full width */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nav-bar {
  display: flex;
  align-items: center;
  width: 100%; /* Full width */
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Adjusted shadow direction */
  padding: 10px 20px; /* Added padding for better spacing */
  position: fixed; /* Fixed position at the top */
  top: 0; /* Positioned at the top */
  left: 0; /* Ensure navbar is aligned to the left */
  z-index: 1000;
  box-sizing: border-box; /* Ensure padding is included in width */
}

.logo {
  width: 20%; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 20px; /* Margin to separate from nav items */
}

.nav-items-container {
  display: flex;
  justify-content: flex-start; /* Align nav items to the left */
  flex-grow: 1; /* Allow the container to grow and take available space */
}

.nav-item {
  padding: 10px 20px; /* Padding for better spacing */
  cursor: pointer;
  font-size: 16px;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

.nav-item.active {
  background-color: #8B0000; /* Dark red */
  color: #fff;
}

.nav-item:hover {
  background-color: #e0e0e0; /* Grey hover color */
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 80px; /* Added padding to account for the fixed nav-bar */
  width: 100%; /* Ensure content takes full width */
}

.feed-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.feed-input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 200px;
}

.feed-input:focus {
  border-color: #8B0000; /* Dark red */
  outline: none;
}

.feed-button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #8B0000; /* Dark red */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.feed-button:hover {
  background-color: #800000; /* Darker red */
}